<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="[log4j] %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>     <!-- LOG everything at INFO level -->
		<Root level="info">
			<AppenderRef ref="Console" />
		</Root>     <!-- LOG "tacs.myretail" at TRACE level -->
		<Logger name="tacs.myretail" level="trace">
		</Logger>
		<Logger name="org.mongodb" level="info"/>
	</Loggers>
</Configuration>